# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.pyre/

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.coverage
coverage.xml
htmlcov/

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
ehthumbs.db

# Logs and databases
*.log
*.sqlite3

# Misc
*.bak
*.swp
*.tmp

# Secrets / env
.env
.env.*

# Optional: ignore local Python executable created by some tools
.python-version

# CustomTK temp files
customtkinter_cache/
